@model BookDTO;

<table class="table">
  <thead>
    <tr>
      @* <th scope="col">id</th> *@
      <th scope="col">title</th>
      <th scope="col">author</th>
      <th scope="col">price</th>
      <th scope="col">avg rating</th>
      <th scope="col"> - </th>
    </tr>
  </thead>
  <tbody>
    <tr>
        @* <th scope="row">@book.Id</th> *@
        <td>@Model.Title</td>
        <td>@Model.author</td>
        <td>@Model.Price</td>
        <td>@Model.AverageRating</td>
        <td class="btns">
            <button class="btn btn-primary"> add to cart</button>
        </td>
    </tr>
  </tbody>
</table>

@* ajax add book to cart  *@